version: '3.7'

services:

  api:
    build: .
    container_name: ${APP_NAME}
    ports:
      - "${PORT}:5000"
    volumes:
      - ./in:/in
    networks:
      - backend 
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: ${DB_NAME}
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - mysql_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: catty
    networks:
      - backend
    healthcheck:
          test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
          interval: 10s
          timeout: 4s
          retries: 2

volumes:
  mysql_db:
    external: false

networks:
  backend: